* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5d1049;
    font-family: sans-serif;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

.heading {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        background-color: red;
    }

    .table thead tr th, .table tbody tr th {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.35px;
        color:white;
        opacity: 1;
        padding: 12px;
        border: 1px solid #dee2e685;
    }

    .table tbody tr td, .table thead tr td {
        font-size: 14px;
        letter-spacing: 0.35px;
        font-weight: normal;
        color: #f1f1f1;
        background-color: #720d5d;
        padding: 8px;
        text-align: center;
        border: 1px solid #dee2e685;
    }

    .table .text_open {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.35px;
        color: #ff1046;
    }

.btn-delete {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #ff1046;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    font-size: 14px;
    opacity: 1;
    text-transform: uppercase;
}

.btn-edit {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: green;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    font-size: 14px;
    opacity: 1;
    text-transform: uppercase;
}

.btn-detail {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: blue;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    font-size: 14px;
    opacity: 1;
    text-transform: uppercase;
}
