body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 80px;
    background-color:#4e0d3a;
}

    nav img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 17px;
        left: 12%;
    }

    nav ul {
        float: right;
        margin-right: 25px;
    }

        nav ul li {
            display: inline;
            line-height: 80px;
            margin: 0 15px;
        }

            nav ul li a {
                position: relative;
                color:white;
                font-size: 18px;
                text-transform: uppercase;
                padding: 5px 0;
            }

                nav ul li a:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 100%;
                    background: white;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }

                nav ul li a:hover:before {
                    transform: scaleX(1);
                    transform-origin: left;
                }

label #btn, label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 1118px) {
    nav img {
        left: 8%;
    }
}

@media screen and (max-width:1090px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 40px;
        height: 40px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width:960px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #5d1049;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
            font-weight: bold;
        }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

footer {
    height: 80px;
    background-color:#4e0d3a;
    text-align: center;
    margin-top: 30px;
    line-height: 80px;
    font-size: 25px;
}
