@{
    ViewData["Title"] = "Home Page";
}
@{Layout = "~/Views/Shared/_Layout1.cshtml";}

<head>
    <link rel="stylesheet" href="~/css/user-table1.css" />
</head>
<div class="table-container">
    <h1 class="heading">resopnjbvf</h1>
    <table class="table">
        <thead>
            <tr>
                <th>home1</th>
                <td>home2</td>
                <td>home3</td>
                <td>home4</td>
                <td>home5</td>
                <td>home6</td>
                <td>home7</td>
                <td>home8</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th data-label="home1">kalom</th>
                <td data-label="home2">kalom</td>
                <td data-label="home3">kalom</td>
                <td data-label="home4">kalom</td>
                <td data-label="home5"><span class="text_open">kalom5</span></td>
                <td data-label="home6"><a href="#" class="btn-delete">delete</a></td>
                <td data-label="home7"><a href="#" class="btn-edit">edit</a></td>
                <td data-label="home8"><a href="#" class="btn-detail">detail</a></td>
            </tr>
        </tbody>
    </table>
</div>
